.social {
  color: white;
  animation: fadeIn 0.5s;
  cursor: pointer;
}

.social:hover {
  color: #1db954 !important;
  transition: 0.5s;
}

.social:visited,
.social:focus,
.social:active,
a {
  color: white !important;
  transition: 0.5s;
}
