Producer, DJ, Label Owner and Manager, Publisher, Mentor and Music Industry
Entrepreneur For over thirty years Chris Hampshire has been involved in the
music industry.

<h3>Producer</h3>

He has sold over 100,000 vinyl units and had well over 100 commercial releases.
He is one of only a small group of producers with genuine cross genre appeal
with successful projects in house, progressive, techno, hard dance and trance.
Many of these were produced in his own studio including the 1996 release
“Breathless” which, helped by a classic remix by Tony De Vit, went on to sell
over 40,000 vinyl units. As an artist he has an impressive discography including
remixes by and for
<a href="https://www.tiesto.com">Tiesto</a>,
<a href="https://www.sineadoconnor.com">Sinead O’Conner</a>, Satoshi Tomiie and
Tony De Vit. He has also released and licensed original tracks on some of the
world’s biggest independent dance imprints including
<a href="https://www.tommyboy.com">Tommy Boy</a>,
<a href="https://www.blackholerecordings.com">Blackhole</a> and
<a href="https://www.armadamusic.com">Armada Music</a>.

<h3>Dj</h3>

As a DJ, his career has mirrored that of his productions - eclectic and always
one step ahead of the game. With over 20 years behind the decks, he has played
as far afield as Japan, South Africa and Australia together with regular
European and UK dates. He has taken the famous ‘Recoverworld Live’ brand all
over the world and regularly features as a guest mixer on various dance stations
including “Recoverworld Radio” which has now been broadcasting for over 20
years…. In 2007 he released the mix album Dark Sessions which became Album of
the Month in <a href="https://mixmag.net">Mixmag</a> and prompted
<a href="https://djmag.com">DJ Mag</a> to say, “this is trance at its most
gorgeous”

<h3>Label Owner</h3>

Interflow Sounds, his first label, went from being a small imprint set up as
primarily a vehicle for his own productions, to one of the UK’s leading
independent hard dance/trance labels. In 2002 he closed that chapter with the
critically acclaimed mix album ‘Harder, Faster, Deeper’. Having signed to Eve
Records in 2001, Chris formed a relationship which would ultimately see him
acquire the company in 2004. He now presides over a suite of labels under the
<a href="http://www.recoverworld.com">Recoverworld</a> banner and has helped
launch the careers of
<a href="http://www.johnocallaghan.net">John O’Callaghan</a>,
<a href="http://www.djjohnaskew.com">John Askew</a>,
<a href="https://www.seantyasmusic.com">Sean Tyas</a>,
<a href="https://www.thomasdatt.global">Thomas Datt</a>,
<a href="http://www.manuellesaux.com">Manuel le Saux</a> and many more.

<h3>Label Management</h3>

Based on the success of his own labels and encyclopedic knowledge of the
industry, <a href="http://www.recoverworld.com">Recoverworld</a> offer an end to
end label management solution including royalty accounting, manufacturing and
sales and distribution.

<h3>Publishing</h3>

Supreme Music Publishing, the publishing side of
<a href="http://www.recoverworld.com">Recoverworld</a> are proud to represent a
catalogue in excess of 3000 songs worldwide.

<h3>Mentor</h3>

Mentor for the UK government backed scheme “<a
  href="http://news.bbc.co.uk/1/hi/entertainment/2701941.stm"
  >New Deal for Musicians</a
>”, guest lecturer at the
<a href="https://www.bimm.ac.uk">British and Irish Institute of Modern Music</a>
(BIMM), artist manager, music production journalist and ambassador from two
government sponsored overseas trade missions.

<h3>Business Solutions</h3>

With the rise of digital media, he was one of the original directors of
<a href="https://www.ampsuite.com">AMPsuite</a>. the label management and
distribution system which powers many of the world’s largest independent labels.
He sold his share in 2018 but still uses it as the backbone for his guest
lectures and his thriving label management business. His latest project, in
partnership with Rob “<a href="https://www.activamusic.co.uk">Activa</a>”
Stevenson is the innovative vinyl manufacturing platform “<a
  href="https://therecordrepublic.com"
  >The Record Republic</a
>", a game changer in the world of record manufacturing. For more information
please contact me
<a href="http://recoverworld.com/chrishampshire/contact/">here</a>.
